<div class="d-flex">
  <p class="ms-auto mb-0">Sort by: </p>
  <div class="btn-group btn-group-sm ms-2" role="group" aria-label="Basic radio toggle button group" >
    <input type="radio" class="btn-check" name="sortBy" id="btnsortbyname" [formControl]="sortBy" value="byName">
    <label class="btn btn-outline-primary" for="btnsortbyname">Title</label>

    <input type="radio" class="btn-check" name="sortBy" id="btnsortbyreleasedate" [formControl]="sortBy" value="byReleaseDate">
    <label class="btn btn-outline-primary" for="btnsortbyreleasedate">Rel. Date</label>
  </div>

  <div class="btn-group btn-group-sm mx-2" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="order" id="btnorderascending" [formControl]="order" value="ascending">
    <label class="btn btn-outline-primary" for="btnorderascending">Asc</label>

    <input type="radio" class="btn-check" name="order" id="btnorderdescending" [formControl]="order" value="descending">
    <label class="btn btn-outline-primary" for="btnorderdescending">Desc</label>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-8">

    <div *ngFor="let movie of movies" class="card m-3 p-3">
      <div class="row justify-content-center">
        <div class="col-sm-3 d-flex justify-content-md-end justify-content-center">
          <img src="assets/img/{{movie.imageName}}" class="img-thumbnail rounded-start">
        </div>
        <div class="col-sm-9">
          <div class="card-body">
            <h3 class="card-title">{{movie.title}}</h3>
            <div class="card-text m-0">Release date: {{movie.releaseDate}}</div>
            <div class="card-text m-0 d-flex justify-content">
              <p *ngIf="movie.isWishlist" class="position-relative"> <span class="position-absolute top-50 start-100 badge text-bg-success">On my Wishlist</span></p>
              <button *ngIf="!movie.isWishlist" class="btn btn-outline-primary ms-auto" (click)="addToWishlist(movie)">Add</button>
              <button *ngIf="movie.isWishlist" class="btn btn-outline-danger ms-auto" (click)="removeFromWishlist(movie)">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

